<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="poly.persistance.mapper.FeedbackCommentMapper">

<!-- 함수의 매개변수 이름과 sql쿼리문에 들어갈 변수 이름을 맞춰... 그리고 DTO의 변수들과 이름을 맞출 것은 resultType -->
<select id="fcList" parameterType="String" resultType="FeedbackCommentDTO">
SELECT
	comment_no AS commentNo,
	commenttext,
	regdate,
	regno
FROM feedback_comment
WHERE feedback_no = #{feedbackNo}
ORDER BY regdate
</select>

<insert id="commentReg" parameterType="FeedbackCommentDTO">
INSERT INTO feedback_comment (
	feedback_no, commenttext, regno, updno
)VALUES(
	#{feedbackNo}, #{commenttext}, #{regNo}, #{regNo}
)
</insert>

<delete id="commentDel" parameterType="String">
DELETE FROM feedback_comment
WHERE comment_no = #{commentNo}
</delete>

<update id="commentEdit" parameterType="FeedbackCommentDTO">
UPDATE feedback_comment
SET
	commenttext = #{commenttext},
	regno = #{regNo},
	regdate = SYSDATE()
WHERE comment_no = #{commentNo}
</update> 
</mapper>