<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.QSetMapper">
<insert id="insertQSet" parameterType="QSetDTO">
INSERT INTO QSET(
	QSET_TITLE, QSET_DESC, CONTENT, REGNO, UPDNO
	)VALUES(
		#{qset_title}, #{qset_desc}, #{content}, #{regno}, #{regno})
</insert>
<select id="getQSetList" resultType="QSetDTO">
SELECT
	QSET_TITLE AS qset_title,
	QSET_DESC AS qset_desc,
	LIKES AS likes,
	VIEWCOUNT AS viewcount
FROM QSET
</select>
</mapper>